In [15]:
import numpy as np
import pandas as pd


data = {"LL" : [4, 5, 6],
 "BS" : [7, 8, 9],
 "MM" : [10, 11, 12]
          }

df=pd.DataFrame(data, index=['Man', 'Tir', 'Ons'])
df

     LL  BS  MM
Man   4   7  10
Tir   5   8  11
Ons   6   9  12

In [ ]:
df